/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

 params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'Homo_sapiens[GRCh38]' {
      ncRNA_fa_bowtie = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/RNAtypes/bowtieindex.gtrnadb.mitotrna.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk8_18_2022/"
      ncRNA_fa = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/RNAtypes/Homo_sapiens.GRCh38.105.gtrnadb.mitotrna.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk8_18_2022_idx.fa"
      tx2gene = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/RNAtypes/smrnaseq_tx2genetable_withgenenames_9_15_2022.tsv"
      hairpin = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/hairpin.fa"
      idmaptoRNAtype = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/RNAtypes/idmaptornatypes.gtrnadb.mitorna.mirbase.ensembl.rRNArpmsk8_5_2022.txt"
      mirna_gtf = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/SmallRNA/hsa.gff3"
      mirtrace_species = "hsa"
      ensembl_web = "ensembl.org/Homo_sapiens/Gene/Summary?db=core;g="
      mirbase_web = "mirbase.org/results/?query="
    }
    'Rattus_norvegicus[Rnor_6.0]' {
      ncRNA_fa_bowtie = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/RNAtypes/Rattus_norvegicus_Rnor6_104_smallRNAtypes_ref10_14_2022/"
      ncRNA_fa = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/RNAtypes/Rattus_norvegicus.Rnor6.0_104.gtrnadb.mitotrna.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk10_13_2022_idx.fa"
      tx2gene = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/RNAtypes/smrnaseq_Rnor6.0_104_tx2genetable_withgenenames10_13_2022.tsv"
      hairpin = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/hairpin.fa"
      idmaptoRNAtype = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/RNAtypes/idmaptornatypes.Ratticus_norvegicus_6.0_104_gtrnadbmitotrnadb.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk10_13_2022.txt"
      mirna_gtf = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/SmallRNA/rno.gff3"
      mirtrace_species = "rno"
    }
    'Mus_musculus[GRCm38]' {
      ncRNA_fa_bowtie = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/RNAtypes/bowtieindex.gtrnadb.mitotrna.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk11_3_2022/Mus_musculus_smallRNAtypes_ref11_3_2022_idx"
      ncRNA_fa = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/RNAtypes/Mus_musculus.GRCm38.102.gtrnadb.mitotrna.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk11_1_2022_idx.fa"
      tx2gene = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/RNAtypes/smrnaseq_GRCm38_102_tx2genetable_withgenenames11_2_2022.tsv"
      hairpin = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/hairpin.fa"
      idmaptoRNAtype = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/RNAtypes/idmaptornatypes.Mus_musculus_GRCm38_102_gtrnadbmitotrnadb.mirbase.lnc.sno.sca.sn.misc.rRNA.rpmsk11_1_2022.txt"
      mirna_gtf = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm38/Annotation/SmallRNA/mmu.gff3"
      mirtrace_species = "mmu"
    }
  }
}
